<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GameSaves Hub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style>
        html, body {
          height: 100%;
        }

        body {
          display: flex;
          flex-direction: column;
        }

        section.section {
          flex: 1; /* faz o conteúdo ocupar o espaço e empurrar o footer */
        }

        .footer {
          margin-top: auto; /* força o footer ir para o final */
        }
    </style>
</head>
