<nav class="navbar is-primary" role="navigation" aria-label="main navigation" th:fragment="navbar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold is-size-4" href="#">
            🎮 GameSaves Hub
        </a>

        <!-- Hamburger -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="#">Home</a>
            <a sec:authorize="isAuthenticated()" class="navbar-item" href="/perfil">Perfil</a>
            <a class="navbar-item" href="/logout">Sair</a>
        </div>
    </div>
</nav>